alias zshrc="source ~/.zshrc"
alias polybar="~/.config/polybar/launch.sh"

alias p="cd /mnt/Programming"

alias e_up="p; cd employes; docker-compose up app"
alias e_bash="p; cd employes; docker-compose exec app bash"
alias eo_up="p; cd employes; docker-compose up office"
alias eo_up="p; cd employes; docker-compose exec office bash"

alias es_up="p; cd employes-style; docker-compose up"
alias es_bash="p; cd employes-style; docker-compose exec style bash"
alias p_up="p; cd paperless; docker-compose up storybook"
alias p_ng_up="p; cd paperless; docker-compose up angular-demo"
alias p_bash="p; cd paperless; docker-compose exec storybook bash"
alias p_act="p; cd paperless; act -P ubuntu-latest=nektos/act-environments-ubuntu:18.04"

alias rl="~/RuneLite.appimage"

alias lock="betterlockscreen -l dim"
alias logout="rm -rf /tmp/bspwm-startup.lock; bspc quit"

alias update_mirrors="sudo reflector --save /etc/pacman.d/mirrorlist --country Netherlands --protocol https --latest 5"
alias screenshot="scrot -s /tmp/ss.png && xclip -selection clipboard -t image/png -i /tmp/ss.png && rm /tmp/ss.png"

find-rename-regex() (
	set -eu
	find_and_replace="$1"
	PATH="$(echo "$PATH" | sed -E 's/(^|:)[^\/][^:]*//g')" \
	find . -depth -execdir rename "${2:--n}" "s/${find_and_replace}" '{}' \;
)
