alias zshrc="source ~/.zshrc"
alias polybar="~/.config/polybar/launch.sh"
alias p="cd /mnt/Programming"

alias e_ng1="p; cd employes-app; docker-compose up"
alias e_ng1_bash="p; cd employes-app; docker-compose exec app bash"
alias e_ng="p; cd employes; docker-compose up app"
alias e_ng_bash="p; cd employes; docker-compose exec app bash"
alias e_react="p; cd employes-react; docker-compose up"
alias e_react_bash="p; cd employes-react; docker-compose exec app bash"
alias e_style="p; cd employes-style; docker-compose up"
alias e_style_bash="p; cd employes-style; docker-compose exec style bash"

alias rl="~/RuneLite.appimage"

alias dog="p; cd Stray\ Dog"
alias dog_dep="dog; docker-compose up -d redis postgres"
alias dog_bot="dog; docker-compose up bot"
alias dog_api="dog; docker-compose up api"
alias dog_build="dog; docker build . -f .docker/Dockerfile -t"
alias dog_build_bot="dog_build varrockstraydog/bot --target=production-bot --no-cache"
alias dog_build_api="dog_build varrockstraydog/api --target=production-api --no-cache"
alias dog_build_web="dog_build varrockstraydog/web --target=production-web --no-cache"
alias dog_api_bash="dog; docker-compose exec api bash"
alias dog_bot_bash="dog; docker-compose exec bot bash"
alias dog_web_bash="dog; docker-compose exec web bash"
alias dog_db_prod="kubectl port-forward --namespace=postgresql postgresql-postgresql-0 --address 0.0.0.0 5433:5432"
alias dog_push_api="docker push varrockstraydog/api"
alias dog_push_bot="docker push varrockstraydog/bot"
alias dog_push_web="docker push varrockstraydog/web"
alias dog_deploy_api="dog_build_api; dog_push_api"
alias dog_deploy_bot="dog_build_bot; dog_push_bot"
alias dog_deploy_web="dog_build_web; dog_push_web"

alias lock="betterlockscreen -l dim"
alias logout="rm -rf /tmp/bspwm-startup.lock; bspc quit"


alias screenshot="scrot -s /tmp/ss.png && xclip -selection clipboard -t image/png -i /tmp/ss.png && rm /tmp/ss.png"

find-rename-regex() (
	set -eu
	find_and_replace="$1"
	PATH="$(echo "$PATH" | sed -E 's/(^|:)[^\/][^:]*//g')" \
	find . -depth -execdir rename "${2:--n}" "s/${find_and_replace}" '{}' \;
)
