! ------------------------------------------------------------------------------
! Display configuration
! ------------------------------------------------------------------------------

Xft.dpi:		152



! special
*.foreground:   #FFFFFA
*.background:   #1E1F1F
*.cursorColor:  #FFFFFA

! black
*.color0:       #1E1F1F
*.color8:       #444545

! red
*.color1:       #C70039
*.color9:       #900C3F

! green
*.color2:       #61988E
*.color10:      #507C74

! yellow
*.color3:       #F7AE50
*.color11:      #F9C784

! blue
*.color4:       #7C76D0
*.color12:      #9893DA

! magenta
*.color5:       #6A4587
*.color13:      #7E52A0

! cyan
*.color6:       #8BEAF9
*.color14:      #C4F5FC

! white
*.color7:       #F4EDEA
*.color15:      #FFFFFA


