/*
Arc-Dark Color Scheme
*/

@define-color highlight		#5294e2;
@define-color bg        	#1d212a;
@define-color fg        	#e3e3e3;

@define-color red1			#fc8993;
@define-color red2			#fb9199;

@define-color green1		#89e19c;
@define-color green2		#8de19f;

@define-color yellow1		#fbdf90;
@define-color yellow2		#ffe28e;

@define-color blue1			#a7bdfb;
@define-color blue2			#afc3fb;

@define-color magenta1		#d990cd;
@define-color magenta2		#df95d3;

@define-color cyan1			#81d4ee;
@define-color cyan2			#81d4ee;

* {
  font-family: UbuntuMono;
}

window {
  background-color: @bg;
}

#input {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px @red1 solid;
  color: $fg;
}

#input:focus {
  border: 1px @green1 solid;
  box-shadow: none;
}

#outer-box {
  margin: 5px;
  padding: 5px;
}

#scroll {
}

#text {
  padding: 5px;
  color: @fg;
}

#entry:selected {
  background-color: @highlight;
}
