/* Elementary Luna GTK3 theme designed by Sean Wilson*/

* {
    engine: adwaita;
    padding: 1;

    /* Style properties */
    -GtkToolButton-icon-spacing: 4;

    -GtkTextView-error-underline-color: @error_color;

    -GtkPaned-handle-size: 5;

    -GtkCheckButton-indicator-size: 14;
    -GtkCheckMenuItem-indicator-size: 12;


    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;

    -GtkToolItemGroup-expander-size: 10;
    -GtkExpander-expander-size: 10;

    -GtkMenu-horizontal-padding: 1;
    -GtkMenu-vertical-padding: 0;

    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkHTML-link-color: @link_color;

    -WnckTasklist-fade-overlay-rect: 0;

    -GtkWidget-focus-padding: 2;
    -GtkWidget-focus-line-width: 1;
    -adwaita-focus-border-color: #aaa;
    -adwaita-focus-border-radius: 1;
    -adwaita-focus-fill-color: alpha(@theme_base_color, 0.0);
    -adwaita-focus-border-gradient: none;
    -adwaita-focus-border-dashes: 1;
}

/***************
 * Base States *
 ***************/
GtkWindow {
    color: #eee;
}

* {
    background-color: @theme_bg_color;
}

*:hover {
    color: #3d81ca;
}

*:selected {
    background-color: #3d81ca;
    color: #eee;
}

*:selected:focused {
    background-color: #3d81ca;
    color: #eee;
}

*:insensitive {
    background-color: @insensitive_bg_color;
    color: #555;
    border-color: @insensitive_border_color;
}

*:active {
    color: #3d81ca;
}

.tooltip {
    padding: 4 4;
    border-style: solid;
    border-color: #000;
    border-width: 1;
    background-color: #1e201f;
    color: #eee;
}

.tooltip * {
    background-color: #1e201f;
    color: #eee;
}

.grip {
    background-color: #888;
}

.view.rubberband,
.rubberband {
    background-color: alpha (@theme_selected_bg_color, 0.35);

    border-color: @theme_selected_bg_color;
    border-style: solid;
    border-width: 1;
    border-radius: 2;
}

GtkTreeView .separator,
.separator {
    color: #000;
}

.pane-separator {
    color: #aaa;
}

.pane-separator:prelight,
.pane-separator:selected {
    color: #3d81ca;
}

GtkStatusbar {
    padding: 5;
    color: #eee;
    -GtkStatusbar-shadow-type: none;
}

.dnd {
    border-width: 1;
    border-style: solid;
    border-color: #3d81ca;
    border-radius: 2;
    color: #eee;
}

/****************
 * Text Entries *
 ****************/
.entry {
    background-color: #eee;

    border-style: solid;
    border-width: 1;
    border-radius: 3;
    border-color: #333;
    border-image: none;
    padding: 0;
    -GtkEntry-inner-border: 5;
    -GtkEntry-progress-border: 0;
    color: #333;
}

.entry,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:prelight,
.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:prelight {
    background-color: #eee;
    color: #333;
}

.entry:insensitive {
    background-color: @insensitive_bg_color;
    background-image: none;
    border-image: none;
    border-style: solid;
}

.entry.progressbar {
    background-color: @theme_selected_bg_color;
    color: #333;

    border-width: 1;
    border-radius: 3;
    border-image: none;

    -adwaita-progressbar-pattern: none;
}

/*******************
 * Symbolic images *
 *******************/
.image {
    color: @internal_element_color;
}

.image:prelight {
    color: @internal_element_prelight;
}

/*****************
 * GtkSpinButton *
 *****************/
.spinbutton.button,
.spinbutton.button:prelight,
.spinbutton.button:active,
.spinbutton.button:focused,
.spinbutton.button:insensitive {
    background-image: none;
    background-color: alpha(@theme_base_color, 0.0);

    border-style: none;
    border-image: none;
}

.spinbutton.button {
    color: @internal_element_color;
}

.spinbutton.button:prelight,
.spinbutton.button:active {
    color: @internal_element_prelight;
}

.spinbutton.button:insensitive {
    color: @insensitive_border_color;
}

.spinbutton.entry {
    padding: 0 6 0 1;
}

/****************
 * Progress bar *
 ****************/

/* progress component */
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@progressbar_background_a),
                                     to (@progressbar_background_b));

    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #111;
   

    -adwaita-progressbar-pattern: -gtk-gradient (linear,
                                                 left top, right bottom,
                                                 from (alpha (@progressbar_pattern, 0.00)),
                                                 color-stop (0.49, alpha (@progressbar_pattern, 0.00)),
                                                 color-stop (0.50, alpha (@progressbar_pattern, 0.10)),
                                                 to (alpha (@progressbar_pattern, 0.10)));
}

.progressbar.vertical {
    background-image: -gtk-gradient (linear,
                                     left top, right top,
                                     from (@progressbar_background_a),
                                     to (@progressbar_background_b));

    -adwaita-progressbar-pattern: -gtk-gradient (linear,
                                                 left bottom, right top,
                                                 from (alpha (@progressbar_pattern, 0.00)),
                                                 color-stop (0.49, alpha (@progressbar_pattern, 0.00)),
                                                 color-stop (0.50, alpha (@progressbar_pattern, 0.10)),
                                                 to (alpha (@progressbar_pattern, 0.10)));
}

/* through component */
GtkProgressBar,
.trough row {
    padding: 0;
    -GtkProgressBar-xspacing: 22;
    -GtkProgressBar-yspacing: 22;
}

.trough,
.trough row,
.trough row:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@trough_bg_color_a),
                                     to (@trough_bg_color_b));

    border-width: 1;
    border-style: solid;
    border-radius: 3;
    border-color: shade (@inactive_frame_color, 0.8);
}

.trough.vertical {
    background-image: -gtk-gradient (linear,
                                     left top, right top,
                                     from (@trough_bg_color_a),
                                     to (@trough_bg_color_b));
}

.trough row:selected,
.trough row:selected:focused {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (mix (@trough_bg_color_a, @theme_selected_bg_color, 0.25)),
                                     to (mix (@trough_bg_color_b, @theme_selected_bg_color, 0.25)));
}

/************
 * GtkScale *
 ************/
GtkScale {
    -GtkScale-slider-length: 16;
    -GtkRange-slider-width: 20;
    -GtkRange-trough-border: 0;
}

GtkScale.slider,
GtkScale.slider:hover,
GtkScale.slider:insensitive {
    border-width: 0;
    border-radius: 0;
    border-style: none;
    border-color: none;
    color: #3d81ca;
}

GtkScale.trough {
    border-width: 1;
    border-radius: 2;
    border-style: none;
    border-image: none;
    background-color: @scale_fill;
}

GtkScale.trough:insensitive {
    background-color: @insensitive_bg_color;
    background-image: none;

    border-image: none;
    border-style: solid;
    border-color: #444;
}

GtkScale.progressbar {
    background-color: #111;

    border-width: 1;
    border-radius: 2;
    border-style: solid;
    border-color: #444;
    

    -adwaita-progressbar-pattern: none;
}

GtkScale.mark {
    color: #eee;
}

/**********
 * Frames *
 **********/
.frame {
    padding: 2;
    border-width: 1;
    border-radius: 3;
}

/* only render frames in a GtkScrolledWindow */
GtkScrolledWindow.frame {
    border-style: solid;
    border-color: #111;
    border-width: 1;
    border-radius: 0;

    padding: 0;
}

/***********
 * Buttons *
 ***********/
.button,
.button.menuitem.menubar {
    padding: 1 4;
}

.button {
    -adwaita-focus-fill-color: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_gradient_color_a),
                                     to (@button_gradient_color_b));

    -adwaita-focus-border-gradient: #000;
    -adwaita-focus-border-radius: 3;
    -adwaita-focus-border-dashes: 0;
    -GtkWidget-focus-line-width: 1;

    -GtkButton-child-displacement-x: 1;
    -GtkButton-child-displacement-y: 1;
    -GtkButton-image-spacing: 4;
    -GtkButton-interior-focus: true;
    -GtkButton-default-border: 0;
    -GtkButton-inner-border: 0;

    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #222;
    border-image: none;
    color: #eee;

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_gradient_color_a),
                                     to (@button_gradient_color_b));
}

.button:hover,
.toolbar .button:hover {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_gradient_hover_color_a),
                                     to (@button_gradient_hover_color_b));
    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #222;
    border-image: none;
}

.button:active,
.toolbar .button:active,
.button:hover:active,
.toolbar .button:hover:active {
    background-image: -gtk-gradient (linear,
    				     left top, left bottom,
                                     from (@button_gradient_hover_color_a),
				     to (@button_gradient_hover_color_b));
    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #222;
    border-image: none;
}

.button:insensitive {
    background-image: none;
    background-color: @insensitive_bg_color;
    color: @insensitive_fg_color;

    border-image: none;
    border-style: solid;
    border-image: none;
}

.button.default {
    border-width: 0;
    color: #eee;
}

/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {
    padding: 8;

    border-color: #aaa;
    border-style: solid;
    border-width: 1;
    border-radius: 0px;
    background-color: #eee;
    color: #666;

    -GtkNotebook-tab-overlap: 0;
    -GtkNotebook-tab-curvature: 2;
}

.notebook tab {
    border-width: 1;
    border-color: #aaa;
    border-style: solid;
    padding: 3 8 0;
    background-color: #ccc;
    border-radius: 0px;
    color: #666;
}

.notebook tab:active {
    border-width: 1;
    border-color: #aaa;
    border-style: solid;
    border-radius: 6;
    color: #666;

    -adwaita-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (@notebook_active_tab_border),
                                             to (@notebook_border));

    -adwaita-selected-tab-color: #3d81ca;
    -adwaita-focus-border-radius: 6;

    background-color: #eee;
    
}

.notebook tab .button,
.notebook tab .button:hover,
.notebook tab .button:hover:active {
    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #444;

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_gradient_color_a),
                                     to (@button_gradient_color_b));
   color: #333;
}


/**************
 * ComboBoxes *
 **************/

GtkComboBox {
    padding: 0;
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;

    -GtkComboBox-arrow-scaling: 0.2;
    -GtkComboBox-shadow-type: none;
}

GtkComboBox .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

GtkComboBox .entry,
GtkComboBox .entry:nth-child(first) {
    border-width: 1 0 1 1;
    border-radius: 3 0 0 3;
    border-image: none;
}

/* for RTL languages */
GtkComboBox .entry:nth-child(last) {
    border-width: 1 1 1 0;
    border-radius: 0 3 3 0;
    border-image: none;
}

GtkComboBox .button {
    border-image: none;
    color: #222;
    padding: 2 3 2 6;
}

GtkComboBox .button *:prelight {
    color: #3d81ca;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:nth-child(last),
GtkComboBox.combobox-entry .button:nth-child(last) {
    border-width: 1 1 1 0;
    border-radius: 0 3 3 0;

    padding: 2 3;
    -adwaita-focus-fill-color: #3d81ca;
    color: #222;
}

/* for RTL languages */
.primary-toolbar GtkComboBox.combobox-entry .button:nth-child(first),
GtkComboBox.combobox-entry .button:nth-child(first) {
    border-width: 1 0 1 1;
    border-radius: 3 0 0 3;
    color: #222;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button {
    border-width: 1;
    border-radius: 3;
    color: #222;
    padding: 2 3;
    -adwaita-focus-fill-color: #222;
}

.primary-toolbar GtkComboBox.combobox-entry .button *:active,
.primary-toolbar GtkComboBox.combobox-entry .button *:prelight,
GtkComboBox.combobox-entry .button *:active,
GtkComboBox.combobox-entry .button *:prelight {
}

.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:hover:active,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:hover:active,
.primary-toolbar GtkComboBox.combobox-entry .button:active:nth-child(last),
.primary-toolbar GtkComboBox.combobox-entry .button:hover:active:nth-child(last),
GtkComboBox.combobox-entry .button:active:nth-child(last),
GtkComboBox.combobox-entry .button:hover:active:nth-child(last) {
    background-color: #1e201f;
}

.primary-toolbar GtkComboBox.combobox-entry .button:active:nth-child(first),
.primary-toolbar GtkComboBox.combobox-entry .button:hover:active:nth-child(first),
GtkComboBox.combobox-entry .button:active:nth-child(first),
GtkComboBox.combobox-entry .button:hover:active:nth-child(first) {
    background-color: #1e201f;
}

/**************
 * Scrollbars *
 **************/

.scrollbar {
    border-style: none;
    -GtkRange-trough-border: 1;
    -GtkRange-arrow-scaling: 0;
    -GtkRange-slider-width: 10;
    -GtkRange-stepper-size: 0;
    -GtkScrollbar-min-slider-length: 30; /* minimum size for the slider. sadly can't be in '.slider' where it belongs */

    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-under-steppers: 1;
}

.scrollbar.trough {
    background-image: -gtk-gradient (linear,
				     left top, right top,
				     from (@trough_bg_color_a),
				     to (@trough_bg_color_b));
    border-style: solid;
    border-color: @trough_bg_color_a;
    border-width: 1;
    border-left-color: #bbb;
    border-radius: 0;
}

.scrollbar.slider {
    background-image: none;
    background-color: #999;
    border-radius: 8;
    border-style: solid;
    border-color: #999;
    border-width: 0;
}

.scrollbar.button {
    background-image: none;
    border-style: none;
    border-width: 0;
    border-image: none;
}

.scrollbar.slider:prelight {
    background-image: none;
    background-color: #555;
}

.scrollbar.slider:prelight:active {
    background-image: none;
    background-color: #555;
}

.scrollbar.button {
    color: @internal_element_color;
}

.scrollbar.button:prelight {
    background-image: none;
    background-color: @theme_base_color;
    border-color: shade (@highlighted_border, 0.964)
}

.scrollbar.button:prelight:active {
    background-image: none;
    background-color: @theme_base_color;
    border-color: shade (@highlighted_border, 0.964)
}

.scrollbar.button:insensitive {
    color: @internal_element_insensitive;
    background-color: @theme_base_color;
    border-color: @button_border;
}

.scrollbar.slider:insensitive {
    background-color: @theme_base_color;
}

.scrollbar.trough:insensitive {
    background-color: shade (@theme_bg_color, 0.882);
}

/*********
 * Menus *
 *********/
/* combobox menus */
GtkTreeMenu.menu {
    background-color: #1e201f;
    color: #eee;
}

GtkTreeMenu .menuitem {
    padding: 2;

    border-style: solid;
    border-width: 1;
    border-color: #222;
}

GtkTreeMenu .menuitem * {
    color: #eee;
}

.menu {
    background-color: #1e201f;
    color: #eee;
    padding: 0;
    border-style: solid;
    border-color: #444;
}

.menu.button {
    background-image: none;
    background-color: @theme_base_color;
    color: #eee;

    border-image: none;
    border-style: none;
    border-width: 0;
}

.menu.button:hover {
    background-image: none;
    background-color: @theme_base_color;
    color: #eee;

    border-image: none;
    border-style: none;
    border-width: 0;
}

.menu.button:insensitive {
    background-color: #222
    color: #555;

    border-image: none;
    border-style: none;
    border-width: 0;
}

/* this controls the general appearance of the menubar */
.menubar {
    border-color: #1e201f;
    border-width: 0;
    border-style: none;
    padding: 4;
    color: #eee;

    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 0;
}

.menubar .menuitem {
    border-width: 0;
    border-style: none;
    padding: 3 5;
    color: #eee;
}

.menubar .menuitem:prelight {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@toolbar_gradient_base),
                                     to (@toolbar_gradient_step1));

    border-radius: 2 2 0 0;
    border-color: #222;
    border-width: 1;
    border-style: solid;
    color: #eee;
}

.menubar .menuitem *:prelight {
    color: #fff;
}

.menuitem {
    -GtkMenuItem-arrow-scaling: 0.4;
    -adwaita-menuitem-arrow-color: @menu_controls_color;
    padding: 4;
}

.menuitem:active,
.menuitem *:active,
.menuitem:prelight,
.menuitem *:prelight {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@toolbar_gradient_base),
                                     to (@toolbar_gradient_step1));
    color: #eee;
}

.menuitem:insensitive,
.menuitem *:insensitive {
    color: #555;
}

.menuitem .accelerator:insensitive {
    color: #555;
}

.menuitem .accelerator {
    color: #eee;
}

.menuitem .accelerator:prelight,
.menuitem .accelerator:active {
    color: #eee;
}

.menuitem.separator {
    color: #2c2c2c;

    -GtkSeparatorMenuItem-horizontal-padding: 0;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    background-image: none;
    background-color: alpha(@theme_base_color, 0.0);
}

.menuitem.check:active {
    background-image: url("assets/checkbox-menuitem-checked.svg");
}

.menuitem.check:active:prelight {
    background-image: url("assets/checkbox-menuitem-checked-selected.svg");
}

.menuitem.check:active:insensitive {
    background-image: url("assets/checkbox-menuitem-checked-insensitive.svg");
}

.menuitem.check:inconsistent {
    background-image: url("assets/checkbox-menuitem-mixed.svg");
}

.menuitem.check:inconsistent:insensitive {
    background-image: url("assets/checkbox-menuitem-mixed-insensitive.svg");
}

.menuitem.radio:active {
    background-image: url("assets/radio-menuitem-checked.svg");
}

.menuitem.radio:active:prelight {
    background-image: url("assets/radio-menuitem-checked-selected.svg");
}

.menuitem.radio:active:insensitive {
    background-image: url("assets/radio-menuitem-checked-insensitive.svg");
}

.menuitem.radio:inconsistent {
    background-image: url("assets/radio-menuitem-mixed.svg");
}

.menuitem.radio:inconsistent:insensitive {
    background-image: url("assets/radio-menuitem-mixed-insensitive.svg");
}

/***************
 * Menu Button *
 ***************/
.button.menuitem.menubar:active,
.button.menuitem.menubar *:active {
    color: #eee;
    background-color: #1e201f;

    border-radius: 3;
    border-image: none;
    border-width: 1;
    border-color: #000;
    border-style: solid;
}

/****************
 * Radiobuttons *
 ****************/

.radio,
.check {
    background-color: alpha(@theme_base_color, 0.0);
    border-width: 0;
    border-style: none;
}

/************
 * Toolbars *
 ************/
.toolbar {
    border-style: none;
    border-width: 0;
    padding: 5;
    color: #eee;
}

.toolbar .button {
    padding: 0;
    color: #eee;
}

.toolbar:insensitive {
    color: #222;
}

/********************
 * Menubar Toolbars *
 ********************/
.toolbar.menubar {
    background-color: #1e201f;
    border-width: 0;
    border-style: none;
    color: #eee;
    -GtkToolbar-button-relief: normal;
}

/********************
 * Primary Toolbars *
 ********************/

.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    background-color: #1e201f;

    border-width: 1;
    border-radius: 1;
    border-style: solid;
    border-color: #111;
    color: #eee;

    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;
}

.primary-toolbar .toolbar:insensitive,
.primary-toolbar.toolbar:insensitive {
    background-image: none;
    background-color: @insensitive_bg_color;

    border-image: none;
    border-style: solid;
    border-color: #5c5c5c;
}

/* primary toolbar buttons */
.primary-toolbar .toolbar .button,
.primary-toolbar.toolbar .button {
    border-image: none;
    border-style: none;
    border-width: 0;

    background-image: none;
    color: #eee;

    -adwaita-focus-border-radius: 3;
    -adwaita-focus-fill-color: #1e201f;
    -adwaita-focus-border-gradient: #3d81ca;
}

.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
    border-style: none;

    background-image: none;
    background-color: insensitive_bg_color;
    -GtkWidget-focus-line-width: 0;
}

.primary-toolbar .toolbar .button *:insensitive,
.primary-toolbar.toolbar .button *:insensitive {
    color: #444;
}

.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover {
    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #000;

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_hover_gradient_color_a),
                                     to (@button_hover_gradient_color_b));
    color: #eee;
}

.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active {
    border-image: none;
    background-color: none;
    border-style: none;
    border-width: 0;
    border-color: none;

    background-image: none;
    color: #eee;
}

.primary-toolbar .toolbar .button *:active,
.primary-toolbar.toolbar .button *:active {
    border-image: none;
    background-color: none;
    border-style: none;
    border-width: 0;
    border-color: none;
    color: #3d81ca;
}

.primary-toolbar .toolbar .button:active:hover,
.primary-toolbar.toolbar .button:active:hover {
    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #000;

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_hover_gradient_color_a),
                                     to (@button_hover_gradient_color_b));
}

.primary-toolbar .toolbar .button *:active:hover,
.primary-toolbar.toolbar .button *:active:hover {
    background-image: none
    color: #eee;
    border-style: none;
    border-width: 0;
}

.primary-toolbar .toolbar .button:active:insensitive,
.primary-toolbar.toolbar .button:active:insensitive {
    border-color: #000;

    border-image: none;
    border-style: solid;

    background-image: none;
}

.primary-toolbar .toolbar GtkSeparatorToolItem,
.primary-toolbar.toolbar GtkSeparatorToolItem {
    color: #000;
}

/* primary toolbar raised buttons */
.toolbar .raised .button,
.toolbar .raised.button {
    border-style: none;
    padding: 3;
    color: #eee;

    background-image: none;
    background-color: #1e201f;

    -GtkWidget-focus-line-width: 0;
}

.toolbar .raised .button:insensitive,
.toolbar .raised.button:insensitive {
    background-image: none;
}

.toolbar .raised .button:hover,
.toolbar .raised.button:hover {
    border-image: none;
    border-style: none;
    border-width: 0;
    background-image: none;
    color: #3d81ca;
}

.toolbar .raised .button:active,
.toolbar .raised .button:hover:active,
.toolbar .raised.button:hover:active,
.toolbar .raised.button:active {
    background-image: none;
    color: #3d81ca;
}

.toolbar .raised .button:insensitive:active
.toolbar .raised.button:insensitive:active {
    border-style: solid;
    border-width: 1;
    border-color: #555;
}

/* nth-child for linked regions */
.toolbar .raised.linked .button,
.toolbar .raised.linked .button:active,
.toolbar .raised.linked.button,
.toolbar .raised.linked.button:active {
    border-width: 1 0;
    border-radius: 0;

    box-shadow: inset 1 0 @button_raised_linked_shadow;
}

.toolbar .raised.linked .button *:active,
.toolbar .raised.linked.button *:active {
    icon-shadow: none;
}

.toolbar .raised.linked.button:nth-child(first),
.toolbar .raised.linked.button:active:nth-child(first),
.toolbar .raised.linked:nth-child(first) .button,
.toolbar .raised.linked:nth-child(first) .button:active {
    border-width: 1 0 1 1;
}

.toolbar .raised.linked.button:nth-child(last),
.toolbar .raised.linked.button:active:nth-child(last),
.toolbar .raised.linked:nth-child(last) .button,
.toolbar .raised.linked:nth-child(last) .button:active {
    border-width: 1 1 1 0;
}

GtkPathBar .button {
    border-image: none;
    border-style: solid;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_active_gradient_color_a),
                                     to (@button_active_gradient_color_b));
    border-radius: 0;
    border-color: #000;
    box-shadow: 1 0 inset #222;
    color: #eee;
}

GtkPathBar .button:active,
GtkPathBar .button:active:hover {
    border-image: none;
    border-style: solid;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_active_gradient_color_a),
                                     to (@button_active_gradient_color_b));
    border-radius: 2;
    border-color: #000;
    color: #eee;
}

GtkPathBar .button:nth-child(first),
GtkPathBar .button:active:nth-child(first),
GtkPathBar .button:active:hover:nth-child(first) {
    border-radius: 3 0 0 3;
    border-left-width: 1;
}

GtkPathBar .button:nth-child(last) {
    box-shadow: 1 0 inset shade(@button_border, 1.40);
    border-radius: 0 3 3 0;
    border-right-width: 1;
}

GtkPathBar .button:active:nth-child(last),
GtkPathBar .button:active:hover:nth-child(last) {
}

.primary-toolbar.toolbar .entry {
    background-color: @primary_toolbar_entry_bg;
    color: #222;
}

/* progressbars on primary toolbar entries are special */
.primary-toolbar .toolbar .entry.progressbar,
.primary-toolbar.toolbar .entry.progressbar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@trough_bg_color_a),
                                     to (@trough_bg_color_b));

    border-width: 1;
    border-radius: 2;
    border-style: solid;
    border-color: shade(@internal_element_color, 1.10);
    border-image: none;

    color: @theme_text_color;

    -adwaita-progressbar-pattern: none;
}

/*******************
 * Inline toolbars *
 *******************/

.inline-toolbar.toolbar {
    border-width: 1;
    border-radius: 4;
    border-style: solid;
    border-color: #111;

    -GtkToolbar-button-relief: normal;

    padding: 4;

    background-color: #1e201f;
}

.inline-toolbar.toolbar:nth-child(last) {
    border-width: 0 1 1 1;
    border-radius: 0 0 3 3;
}

.inline-toolbar.toolbar .button {
    padding: 1;

    border-color: shade(@button_border, 0.95);
    border-radius: 0;
    border-width: 1 0 1 1;
    border-style: solid;

    box-shadow: inset 1 1 alpha(@theme_base_color, 0.50);
}

.inline-toolbar.toolbar .button:insensitive {
    border-color: #444;
    box-shadow: none;

    background-color: @insensitive_bg_color
    background-image: none;
}

.inline-toolbar.toolbar .button *:active,
.inline-toolbar.toolbar .button *:insensitive {
    icon-shadow: none;
}

/* nth-child for inline toolbar button groups */
.inline-toolbar.toolbar .button:nth-child(first),
.inline-toolbar.toolbar GtkToolButton:nth-child(first) .button {
    border-radius: 3 0 0 3;
    box-shadow: none;
}

.inline-toolbar.toolbar .button:nth-child(last),
.inline-toolbar.toolbar GtkToolButton:nth-child(last) .button {
    border-radius: 0 3 3 0;
    border-width: 1;
}

.inline-toolbar.toolbar GtkToolButton:active:nth-child(last) .button,
.inline-toolbar.toolbar .button:active:nth-child(last) {
    box-shadow: none;
}

/***********
 * Sidebar *
 ***********/
.sidebar,
.sidebar .view {
    background-color: #1e201f;
    color: #eee;
    
}

.sidebar .scrollbar.trough {
    background-color: #1e201f;
}

.sidebar .radio,
.sidebar .radio:focused,
.sidebar .radio:selected {
    background-image: none;
    background-color: alpha(@theme_base_color, 0.0);
}

/****************
 * GtkAssistant *
 ****************/
GtkAssistant .sidebar .highlight {
    color: @theme_fg_color;
    font: bold;
}

GtkAssistant .sidebar {
    padding: 12;

    border-width: 1;
    border-radius: 2;
    border-style: solid;
    border-color: @inactive_frame_color;

    color: mix (@theme_fg_color, @theme_bg_color, 0.40);

    background-color: shade (@theme_bg_color, 0.97);
}

/*************
 * GtkSwitch *
 *************/

GtkSwitch {
    font: bold condensed 10;
}

GtkSwitch.trough {
    color: #333;

    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #000
    background-image: none;
    background-color: #2f3d4e;
}

GtkSwitch.trough:active {
    color: #333;
    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #000
    background-image: none;
    background-color: #4d6a8e;
}

GtkSwitch.trough:insensitive {
    background-image: none;
    background-color: shade (@theme_bg_color, 0.9);

    border-image: none;
    border-style: solid;
}

GtkSwitch.slider {
    border-width: 1;
    border-radius: 3;
    border-style: solid;
    border-color: #222;
    border-image: none;
    padding: 0;

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@toolbar_gradient_base),
                                     to (@toolbar_gradient_step1));

    -adwaita-switch-grip-color: #2f3d4e;
}

GtkSwitch.slider:active {
    border-width: 1;
    border-radius: 3;
    border-style: solid;
    border-color: #222;
    border-image: none;
    padding: 0;

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@toolbar_gradient_base),
                                     to (@toolbar_gradient_step1));
}

GtkSwitch.slider:insensitive {
    border-image: none;

    background-image: none;
    background-color: @insensitive_bg_color;
}

GtkViewport,
GtkIconView {
    border-radius: 3;
    padding: 0;
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
    background-color: @theme_selected_bg_color;
    border-radius: 4;

    -adwaita-focus-border-color: @treeview_focus_border;
    -adwaita-focus-border-radius: 3;
    -adwaita-focus-border-dashes: 0;
}

.view {
    background-color: #eee;
    border-radius: 0;
    color: #333;
}

GtkTreeView {
    -GtkTreeView-vertical-separator: 0;
    -GtkTreeView-expander-size: 17;

    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 1;
    -adwaita-focus-border-radius: 2;
    -adwaita-focus-border-dashes: 1;
    -adwaita-focus-border-color: mix(@theme_selected_fg_color, @theme_selected_bg_color, 0.30);
}

column-header {
    padding: 1 2;
}

column-header .button {
    border-width: 0 1 1 0;
    border-radius: 0;
    border-style: solid;

    border-image: -gtk-gradient(linear,
                                left top, left bottom,
                                from(@button_border),
                                to(shade (@button_border, 1.23))) 1 stretch;
}

column-header .button GtkArrow {
    color: @internal_element_color;
}

column-header:nth-child(last) .button {
    border-width: 0 0 1 0;
}

row:hover {
    border-width: 0;
}

row:insensitive {
    border-width: 0;
}

row:selected:focused {
    border-width: 0;
    background-color: @theme_selected_bg_color;
}

row:selected {
    border-width: 0;
    background-color: #3d81ca;
}

.cell {
    color: @theme_text_color;
    padding: 2;
    border-width: 0;
}

.cell:selected {
    background-color: @theme_selected_bg_color;
}

.expander {
    border-style: solid;
    border-width: 1;
    border-radius: 2;
    border-color: #0c0c0c;

    color: #eee;
    background-color: #1e201f;
}

.expander:active {
    border-style: solid;
    border-width: 1;
    border-radius: 2;
    border-color: #0c0c0c;

    color: #3d81ca;
    background-color: #1e201f;
}

.expander:prelight {
    border-style: solid;
    border-width: 1;
    border-radius: 2;
    border-color: #0c0c0c;

    color: #3d81ca;
    background-color: #1e201f;
}

.expander row:selected,
.expander row:selected:focused {
    border-style: solid;
    border-width: 1;
    border-radius: 2;
    border-color: #0c0c0c;

    color: #eee;
    background-color: #1e201f;
}

/* Calendars */
GtkCalendar {
    padding: 2;
}

GtkCalendar.view {
    border-radius: 3;
    border-style: solid;
    border-width: 1;
    padding: 2;
}

GtkCalendar.header {
    border-radius: 0;
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade (@theme_bg_color, 1.04)),
                                     to (shade (@theme_bg_color, 0.89)));
    border-width: 0;
}

GtkCalendar.button {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (rgba (0, 0, 0, 0)),
                                     to (rgba (0, 0, 0, 0)));
}

.highlight,
GtkCalendar.highlight {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border-radius: 0;
    padding: 0;
    border-width: 0;
}

.info {
    background-color: @info_bg_color;
    color: @info_fg_color;
}

.warning {
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}

.question {
    background-color: @question_bg_color;
    color: @question_fg_color;
}

.error {
    background-color: @error_bg_color;
    color: @error_fg_color;
}

.dim-label {
    color: #ccc;
}

.dim-label:focused,
.dim-label:selected,
.dim-label:selected:focused {
   color: #eee;
}

/**********************
 * Fallback Mode Panel
 **********************/

.gnome-panel-menu-bar,
PanelToplevel,
PanelWidget,
PanelAppletFrame,
PanelApplet {
    background-color: #1e201f;
    background-image: none;
    color: #eee;
}

ClockBox,
.gnome-panel-menu-bar {
    font: bold;
}

.gnome-panel-menu-bar .menuitem:prelight {
    background-color: @os_chrome_selected_bg_color;
    color: @os_chrome_selected_fg_color;
}

.gnome-panel-menu-bar .menuitem *:prelight {
    color: @os_chrome_selected_fg_color;
    text-shadow: @os_chrome_bg_color 0 1;
}

PanelApplet .button,
PanelApplet .button:prelight {
    padding: 4;

    border-image: none;
    border-width: 0;
    border-radius: 0;

    background-image: none;
    background-color: alpha(@theme_base_color, 0.0);

    color: @os_chrome_fg_color;
}

PanelApplet .button:active:prelight,
PanelApplet .button:active {
    border-image: none;
    background-image: none;
    background-color: @os_chrome_selected_bg_color;
    border-width: 0;
    border-radius: 0;
}

PanelApplet *:prelight {
    color: @os_chrome_selected_fg_color;
}

PanelApplet *:active,
PanelApplet *:prelight:active {
    color: @os_chrome_selected_fg_color;
    text-shadow: @os_chrome_bg_color 0 1;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 12;
    -NaTrayApplet-icon-size: 16;
}

WnckPager, WnckTasklist {
    background-color: @os_chrome_selected_bg_color;
    background-image: none;
    color: @os_chrome_fg_color;
}

GsmFailWhaleDialog {
    background-color: @os_chrome_bg_color;
    background-image: none;
    color: @os_chrome_fg_color;
}

GsmFailWhaleDialog * {
    background-color: @os_chrome_bg_color;
    background-image: none;
}
